.error {
    color: red;
    font-size: 1em;
}
.hidden{
    visibility: hidden;
}
.szinvalaszto{
    height: 30px;
}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
form{
    background-color: lightgray;
    border-radius: 2em;
    
}
.tartalom{
    margin: 1em;
    font-weight: bold;
}
.tartalom:first-child {
    padding-top: 0.8em;
}
.tartalom:last-child {
    padding-bottom: 1em;
    text-align: center;
}
input{
    width: 100%;
}
input:last-child{
    width: initial;
}
